<a href="https://colab.research.google.com/github/Srikanth-c/phyton-programs/blob/main/module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ke 2 values and store them in variable

In [ ]:

a=int(input("enter 1st value"))
b=int(input("enter 2nd value"))
print(a,b)

enter 1st value55
enter 2nd value45
55 45

km to m

In [ ]:
a=int(input("enter KM value"))
b=(a*1000)
print(b)

enter KM value9
9000

In [ ]:

a=int(input("enter 1st value"))
b=int(input("enter 2nd value"))
c=(a+b)
d=(a-b)
e=(a*b)
f=(a/b)
print(c)
print(d)
print(e)
print(f)

In [8]:
a=int(input("enter 1st sub value"))
b=int(input("enter 2nd sub value"))
c=int(input("enter 3rd sub value"))
d=int(input("enter 4nd sub value"))
e=int(input("enter 5th sub value"))
f=(a+b+c+d+e)/5
if f>85:
  print("A")
elif f>70 and f<85:
  print("B")
elif f>50 and f<75:
  print("C")
else:
  print("fail")

enter 1st sub value55
enter 2nd sub value66
enter 3rd sub value77
enter 4nd sub value88
enter 5th sub value99
B

In [9]:
a=90
b=float(a)
print(b)
type(b)

90.0

float

In [24]:
for A in range(100,250):
 if A%2 == 1:
   print(A)

101
103
105
107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179
181
183
185
187
189
191
193
195
197
199
201
203
205
207
209
211
213
215
217
219
221
223
225
227
229
231
233
235
237
239
241
243
245
247
249
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200
202
204
206
208
210
212
214
216
218
220
222
224
226
228
230
232
234
236
238
240
242
244
246
248

In [25]:
import math
a=float(input("enter a value"))
print(math.sqrt(a))

enter a value55
7.416198487095663

In [28]:
import math
a=float(input("enter a value"))
b=a*a
print(b)

enter a value5
25.0

In [32]:
import math
a=float(input("enter a value"))
print(math.floor(a))

enter a value25.6
25

In [31]:
import math
a=float(input("enter a value"))
print(math.ceil(a))

enter a value25.6
26

In [33]:
import math
a=float(input("enter a value"))
print(math.fabs(a))

enter a value25.9
25.9